{
  "semi": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 4,
  'object-curly-spacing': "never",
  "space-after-keywords":"never",
  "space-in-brackets":"never",
  "key-spacing": 0,
   "type-annotation-spacing": {
       "before": false,
       "after": false
   },
  quotes: ["double"]
}

